<div class="row no-scroll">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <h2 class="text-center mt-5 mb-5">
                Create Item
            </h2>
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-sm btn-primary" routerLink="/items/overview">All Items</a>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="">Title</label>
                            <input 
                                class="form-control"
                                type="text" 
                                name="title" 
                                id="title"
                                [(ngModel)]="title">
                        </div>
                        <div class="form-group mt-3">
                            <label for="">Description</label>
                            <textarea 
                                class="form-control dont-resize "
                                name="description" 
                                id="description"
                                [(ngModel)]="description">
                            </textarea>
                        </div>
                        <button type="button" (click)="createItem()" class="btn btn-sm btn-primary mt-2" [disabled]="isSubmitting">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>